In [1]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

from pylab import rcParams
rcParams['figure.figsize'] = 12,8

In [2]:
import pandas as pd
import os

import itertools 
from datetime import datetime, timedelta

import matplotlib.pyplot as plt

In [3]:
import re

In [4]:
import plotly.graph_objects as go
import plotly.express as px
from plotly.subplots import make_subplots

import phik

In [5]:
path = "/masters_diploma/raw_data/open-meteo-50.44N30.48E188m.csv"

df = pd.read_csv(path, header=2)

In [6]:
df['time'] = df['time'].apply(lambda x: pd.to_datetime(pd.Timestamp(x).strftime('%Y-%m-%d %H:%M:%S')))
df = df.set_index('time')
df.index.name = 'date'
df

,temperature_2m (°C),relative_humidity_2m (%),dew_point_2m (°C),precipitation (mm),rain (mm),snowfall (cm),weather_code (wmo code),pressure_msl (hPa),surface_pressure (hPa),cloud_cover (%),wind_speed_10m (km/h),wind_direction_10m (°),is_day (),sunshine_duration (s)
date,,,,,,,,,,,,,,
2015-01-01 00:00:00,-5.9,56,-13.3,0.0,0.0,0.07,71,1026.1,1001.8,100,17.5,261,0,0.0
2015-01-01 01:00:00,-5.5,59,-12.4,0.0,0.0,0.00,3,1025.1,1000.8,97,18.1,263,0,0.0
2015-01-01 02:00:00,-5.2,63,-11.2,0.0,0.0,0.00,3,1024.7,1000.5,100,17.0,265,0,0.0
2015-01-01 03:00:00,-4.9,68,-9.9,0.0,0.0,0.00,3,1024.3,1000.1,99,18.7,271,0,0.0
2015-01-01 04:00:00,-4.6,73,-8.7,0.0,0.0,0.07,71,1024.1,1000.0,98,16.6,270,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-09-18 19:00:00,13.7,75,9.3,0.0,0.0,0.00,0,1020.2,997.7,2,10.2,304,0,0.0
2025-09-18 20:00:00,13.1,77,9.2,0.0,0.0,0.00,0,1020.5,997.9,2,10.5,305,0,0.0
2025-09-18 21:00:00,12.7,79,9.1,0.0,0.0,0.00,0,1020.6,998.0,7,10.5,305,0,0.0
2025-09-18 22:00:00,12.2,81,9.1,0.0,0.0,0.00,0,1021.0,998.3,4,9.4,299,0,0.0
2025-09-18 23:00:00,11.7,83,9.0,0.0,0.0,0.00,0,1020.9,998.2,7,8.7,292,0,0.0

In [9]:
df.columns = [i.split(" (")[0] for i in df.columns]
df.columns = [re.split(r"_\d+", i)[0] if i.endswith('m') else i for i in df.columns]
df.columns

Index(['temperature', 'relative_humidity', 'dew_point', 'precipitation',
       'rain', 'snowfall', 'weather_code', 'pressure_msl', 'surface_pressure',
       'cloud_cover', 'wind_speed', 'wind_direction', 'is_day',
       'sunshine_duration'],
      dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 93936 entries, 2015-01-01 00:00:00 to 2025-09-18 23:00:00
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   temperature        93936 non-null  float64
 1   relative_humidity  93936 non-null  int64
 2   dew_point          93936 non-null  float64
 3   precipitation      93936 non-null  float64
 4   rain               93936 non-null  float64
 5   snowfall           93936 non-null  float64
 6   weather_code       93936 non-null  int64
 7   pressure_msl       93936 non-null  float64
 8   surface_pressure   93936 non-null  float64
 9   cloud_cover        93936 non-null  int64
 10  wind_speed         93936 non-null  float64
 11  wind_direction     93936 non-null  int64
 12  is_day             93936 non-null  int64
 13  sunshine_duration  93936 non-null  float64
dtypes: float64(9), int64(5)
memory usage: 10.8 MB

In [11]:
df.describe()

,temperature,relative_humidity,dew_point,precipitation,rain,snowfall,weather_code,pressure_msl,surface_pressure,cloud_cover,wind_speed,wind_direction,is_day,sunshine_duration
count,93936.000000,93936.000000,93936.000000,93936.000000,93936.000000,93936.000000,93936.000000,93936.000000,93936.000000,93936.000000,93936.000000,93936.000000,93936.000000,93936.000000
mean,9.740168,72.946868,4.466467,0.070465,0.058264,0.008708,10.400400,1016.449873,993.651171,64.592680,12.551554,199.636902,0.517661,1126.262438
std,9.961571,18.186145,8.048007,0.326139,0.312627,0.063562,20.489987,8.550284,8.173282,39.764697,5.711409,103.067814,0.499691,1614.093175
min,-23.000000,15.000000,-25.100000,0.000000,0.000000,0.000000,0.000000,978.900000,956.600000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,1.400000,60.000000,-1.200000,0.000000,0.000000,0.000000,1.000000,1010.900000,988.500000,23.000000,8.300000,120.000000,0.000000,0.000000
50%,9.400000,76.000000,4.600000,0.000000,0.000000,0.000000,3.000000,1015.900000,993.400000,88.000000,11.700000,210.000000,1.000000,0.000000
75%,18.000000,88.000000,11.000000,0.000000,0.000000,0.000000,3.000000,1021.700000,998.800000,100.000000,16.100000,289.000000,1.000000,3600.000000
max,35.600000,100.000000,24.900000,15.000000,15.000000,3.640000,75.000000,1048.100000,1023.200000,100.000000,47.100000,360.000000,1.000000,3600.000000

In [7]:
# plt.scatter(x='dew_point_2m (°C)', y='temperature_2m (°C)', data=df)

In [8]:
# plt.plot(df['temperature_2m (°C)'])

In [9]:
new_index = pd.date_range(start=df.index[0], end=df.index[-1]+timedelta(days=7), freq='h')

df = df.reindex(new_index)

In [11]:
df = df.sort_index()

df['year'] = df.index.year
df['month'] = df.index.month
df['day'] = df.index.day
df['hour'] = df.index.hour
df['week_day'] = df.index.day_of_week
df['year_day'] = df.index.day_of_year

In [12]:
feature = 'temperature'
window=7

close_agg = round(
    df.groupby(["week_day", "hour"], group_keys=False)[feature]
      .apply(lambda s: s.shift(1).rolling(window=window, min_periods=1).agg(["max","min","mean"]))
, 2)

close_agg.columns = [f'{feature}_max_{window}_days', f'{feature}_min_{window}_days', f'{feature}_mean_{window}_days']


close_agg

,temperature_max_7_days,temperature_min_7_days,temperature_mean_7_days
2015-01-01 00:00:00,NaN,NaN,NaN
2015-01-01 01:00:00,NaN,NaN,NaN
2015-01-01 02:00:00,NaN,NaN,NaN
2015-01-01 03:00:00,NaN,NaN,NaN
2015-01-01 04:00:00,NaN,NaN,NaN
...,...,...,...
2025-09-25 19:00:00,20.9,13.7,18.59
2025-09-25 20:00:00,19.8,13.1,17.91
2025-09-25 21:00:00,19.5,12.7,17.36
2025-09-25 22:00:00,19.3,12.2,16.80
2025-09-25 23:00:00,18.6,11.7,16.27

In [13]:
for feature in ['temperature', 'relative_humidity', 'dew_point', 'precipitation', 'rain', 'snowfall', 'pressure_msl', 
                'surface_pressure', 'cloud_cover', 'wind_speed', 'wind_direction', 'sunshine_duration']:
    for window in [3, 5, 7]:

        close_agg = round(
            df.groupby("hour", group_keys=False)[feature]
              .apply(lambda s: s.shift(1).rolling(window=window, min_periods=1).agg(["max","min","mean"]))
        , 2)
        close_agg.columns = [f'{feature}_max_{window}_days', f'{feature}_min_{window}_days', f'{feature}_mean_{window}_days']
        
        df = df.join(close_agg)
     
    
    for window in [3, 5, 7]:

        close_agg = round(
            df.groupby(["week_day", "hour"], group_keys=False)[feature]
              .apply(lambda s: s.shift(1).rolling(window=window, min_periods=1).agg(["max","min","mean"]))
        , 2)

        close_agg.columns = [f'{feature}_max_{window}_weeks', f'{feature}_min_{window}_weeks', f'{feature}_mean_{window}_weeks']
        
        df = df.join(close_agg)
    
    
    for window in [3, 4]:

        close_agg = round(
            df.groupby(["month", "day", "hour"], group_keys=False)[feature]
              .apply(lambda s: s.shift(1).rolling(window=window, min_periods=1).agg(["max","min","mean"]))
        , 2)
        close_agg.columns = [f'{feature}_max_{window}_years', f'{feature}_min_{window}_years', f'{feature}_mean_{window}_years']
        
        df = df.join(close_agg)
        
        
    for h in [24, 48, 72, 168]:
        df[f'{feature}_lag_{h}'] = df[[f'{feature}']].shift(h)

In [14]:
df.fillna(0, inplace=True)
df.index.name = 'date'

In [15]:
df

,temperature,relative_humidity,dew_point,precipitation,rain,snowfall,weather_code,pressure_msl,surface_pressure,cloud_cover,...,sunshine_duration_max_3_years,sunshine_duration_min_3_years,sunshine_duration_mean_3_years,sunshine_duration_max_4_years,sunshine_duration_min_4_years,sunshine_duration_mean_4_years,sunshine_duration_lag_24,sunshine_duration_lag_48,sunshine_duration_lag_72,sunshine_duration_lag_168
date,,,,,,,,,,,,,,,,,,,,,
2015-01-01 00:00:00,-5.9,56.0,-13.3,0.0,0.0,0.07,71.0,1026.1,1001.8,100.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2015-01-01 01:00:00,-5.5,59.0,-12.4,0.0,0.0,0.00,3.0,1025.1,1000.8,97.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2015-01-01 02:00:00,-5.2,63.0,-11.2,0.0,0.0,0.00,3.0,1024.7,1000.5,100.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2015-01-01 03:00:00,-4.9,68.0,-9.9,0.0,0.0,0.00,3.0,1024.3,1000.1,99.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2015-01-01 04:00:00,-4.6,73.0,-8.7,0.0,0.0,0.07,71.0,1024.1,1000.0,98.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-09-25 19:00:00,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2025-09-25 20:00:00,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2025-09-25 21:00:00,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2025-09-25 22:00:00,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2025-09-25 23:00:00,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
df.describe()

,temperature,relative_humidity,dew_point,precipitation,rain,snowfall,weather_code,pressure_msl,surface_pressure,cloud_cover,...,sunshine_duration_max_3_years,sunshine_duration_min_3_years,sunshine_duration_mean_3_years,sunshine_duration_max_4_years,sunshine_duration_min_4_years,sunshine_duration_mean_4_years,sunshine_duration_lag_24,sunshine_duration_lag_48,sunshine_duration_lag_72,sunshine_duration_lag_168
count,94104.000000,94104.000000,94104.000000,94104.000000,94104.000000,94104.000000,94104.000000,94104.000000,94104.000000,94104.000000,...,94104.000000,94104.000000,94104.000000,94104.000000,94104.000000,94104.000000,94104.000000,94104.000000,94104.000000,94104.000000
mean,9.722779,72.816639,4.458493,0.070339,0.058160,0.008692,10.381833,1014.635247,991.877246,64.477365,...,1336.345051,657.670898,1025.741159,1366.563999,582.821509,1028.069924,1124.251768,1124.251768,1124.251768,1124.251768
std,9.961165,18.429009,8.043030,0.325862,0.312358,0.063507,20.476396,43.751343,42.734265,39.822650,...,1693.769430,1329.351790,1415.225921,1702.312016,1261.930265,1402.089779,1613.352448,1613.352448,1613.352448,1613.352448
min,-23.000000,0.000000,-25.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.400000,60.000000,-1.200000,0.000000,0.000000,0.000000,1.000000,1010.900000,988.500000,22.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,9.400000,76.000000,4.600000,0.000000,0.000000,0.000000,3.000000,1015.900000,993.400000,87.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,17.900000,88.000000,11.000000,0.000000,0.000000,0.000000,3.000000,1021.700000,998.700000,100.000000,...,3600.000000,0.000000,2400.000000,3600.000000,0.000000,2400.000000,3600.000000,3600.000000,3600.000000,3600.000000
max,35.600000,100.000000,24.900000,15.000000,15.000000,3.640000,75.000000,1048.100000,1023.200000,100.000000,...,3600.000000,3600.000000,3600.000000,3600.000000,3600.000000,3600.000000,3600.000000,3600.000000,3600.000000,3600.000000

In [17]:
df.to_csv('/masters_diploma/processed_data/history_weather.csv')

In [18]:
features = {'temperature': 'temp'
            , 'relative_humidity': 'humid'
            , 'precipitation': 'precip'
            , 'surface_pressure': 'pres'
            , 'cloud_cover': 'cloud'
            , 'wind_speed': 'wspeed'
            , 'wind_direction': 'wdir'
            }

In [19]:
# for feature in features.keys():
    
#     corr_table = df.corr()[feature]
#     phik_corr_table = df.phik_matrix()[feature]

#     new_df = pd.concat([corr_table, phik_corr_table], axis=1)
#     new_df.columns = ['linear_corr_close', 'phik_corr_close']

#     fig = make_subplots(rows=1, cols=1, 
#                         subplot_titles=(f"Correlations with {feature.title()}"))

#     fig.add_trace(go.Bar(
#         y=new_df['linear_corr_close'], x=new_df.index,
#         name='Linear Correlation', marker_color="red"
#     ), row=1, col=1)

#     fig.add_trace(go.Bar(
#         y=new_df['phik_corr_close'], x=new_df.index,
#         name='Phik Correlation', marker_color="blue"
#     ), row=1, col=1)

#     fig.update_layout(
#         title=f'Correlations with {feature.title()}', 
#         xaxis_tickangle=-45,
#         width=1300,
#         height=1000,
#         hovermode="x"
#     )

#     fig.write_html(f'/masters_diploma/correlation_vizualizations/correlations_{feature}.html')

In [20]:
# windows = [1, 2, 3]


# for feature, fname in features.items():
    
#     df[f'mean_{fname}'] = _[feature]
#     df.loc['2024-01-01':, f'mean_{fname}'] = None

#     for date in df.loc['2024-01-01':,].index:

#         date_range = []

#         for year in range(2020, date.year):

#             try:
#                 date_range += [pd.to_datetime(f"{year}-{date.month}-{date.day} {date.hour}:00")]

#             except ValueError:
#                 continue


#         date_range = [d for d in date_range if d in df.index]

#         if len(date_range) > 0:
#             df.loc[date, f'mean_{fname}'] = round(df.loc[date_range, feature].mean(), 2)

            
#     for window in windows:

#         df[f'new_mean_{fname}_{window * 2 + 1}_days'] = _[feature]
#         df.loc['2024-01-01':, f'new_mean_{fname}_{window * 2 + 1}_days'] = None

#         for date in df.loc['2024-01-01':,].index:

#             date_range = []

#             for year in range(2020, date.year):

#                 try:
#                     centre_date = pd.to_datetime(f"{year}-{date.month}-{date.day} {date.hour}:00")
#                     date_range += list(pd.date_range(centre_date-timedelta(days=window), 
#                                                      centre_date+timedelta(days=window), freq='D'))

#                 except ValueError:
#                     continue


#             date_range = [d for d in date_range if d in df.index]

#             if len(date_range) > 0:
#                 df.loc[date, f'new_mean_{fname}_{window * 2 + 1}_days'] = round(df.loc[date_range, feature].mean(), 2)
                

# df

In [21]:
# colors = [
#     "#4169E1", "#DC143C", "#228B22", "#DAA520", "#FF8C00", "#8A2BE2", "#00BFFF", "#FF1493"
# ]

# for feature in list(features.keys()):
    
#     fig = make_subplots(rows=1, cols=1, 
#                     subplot_titles=(f"Means of {feature.title()}"))

#     fig.add_trace(go.Scatter(
#         y=df.loc['2024-01-01':, feature],
#         x=df.loc['2024-01-01':,:].index,
#         name=feature,
#         marker_color="black"
#     ), row=1, col=1)
    
#     for i, name in enumerate([i for i in df.columns if i.startswith(f"{feature}_mean_")]):

#         fig.add_trace(go.Scatter(
#             y=df.loc['2024-01-01':, name],
#             x=df.loc['2024-01-01':,:].index,
#             name=name,
#             marker_color=colors[i]
#         ), row=1, col=1)

#     fig.update_layout(
#         title=f'Means of {feature.title()}', 
#         xaxis_tickangle=-45,
#         width=1300, height=1000,
#         hovermode="x"
#     )

#     fig.write_html(f'/masters_diploma/correlation_vizualizations/visualization_mean_{feature}.html')

In [22]:
df

,temperature,relative_humidity,dew_point,precipitation,rain,snowfall,weather_code,pressure_msl,surface_pressure,cloud_cover,...,sunshine_duration_max_3_years,sunshine_duration_min_3_years,sunshine_duration_mean_3_years,sunshine_duration_max_4_years,sunshine_duration_min_4_years,sunshine_duration_mean_4_years,sunshine_duration_lag_24,sunshine_duration_lag_48,sunshine_duration_lag_72,sunshine_duration_lag_168
date,,,,,,,,,,,,,,,,,,,,,
2015-01-01 00:00:00,-5.9,56.0,-13.3,0.0,0.0,0.07,71.0,1026.1,1001.8,100.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2015-01-01 01:00:00,-5.5,59.0,-12.4,0.0,0.0,0.00,3.0,1025.1,1000.8,97.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2015-01-01 02:00:00,-5.2,63.0,-11.2,0.0,0.0,0.00,3.0,1024.7,1000.5,100.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2015-01-01 03:00:00,-4.9,68.0,-9.9,0.0,0.0,0.00,3.0,1024.3,1000.1,99.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2015-01-01 04:00:00,-4.6,73.0,-8.7,0.0,0.0,0.07,71.0,1024.1,1000.0,98.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-09-25 19:00:00,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2025-09-25 20:00:00,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2025-09-25 21:00:00,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2025-09-25 22:00:00,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2025-09-25 23:00:00,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
list(df.columns)

['temperature',
 'relative_humidity',
 'dew_point',
 'precipitation',
 'rain',
 'snowfall',
 'weather_code',
 'pressure_msl',
 'surface_pressure',
 'cloud_cover',
 'wind_speed',
 'wind_direction',
 'is_day',
 'sunshine_duration',
 'year',
 'month',
 'day',
 'hour',
 'week_day',
 'year_day',
 'temperature_max_3_days',
 'temperature_min_3_days',
 'temperature_mean_3_days',
 'temperature_max_5_days',
 'temperature_min_5_days',
 'temperature_mean_5_days',
 'temperature_max_7_days',
 'temperature_min_7_days',
 'temperature_mean_7_days',
 'temperature_max_3_weeks',
 'temperature_min_3_weeks',
 'temperature_mean_3_weeks',
 'temperature_max_5_weeks',
 'temperature_min_5_weeks',
 'temperature_mean_5_weeks',
 'temperature_max_7_weeks',
 'temperature_min_7_weeks',
 'temperature_mean_7_weeks',
 'temperature_max_3_years',
 'temperature_min_3_years',
 'temperature_mean_3_years',
 'temperature_max_4_years',
 'temperature_min_4_years',
 'temperature_mean_4_years',
 'temperature_lag_24',
 'temperature_lag_48',
 'temperature_lag_72',
 'temperature_lag_168',
 'relative_humidity_max_3_days',
 'relative_humidity_min_3_days',
 'relative_humidity_mean_3_days',
 'relative_humidity_max_5_days',
 'relative_humidity_min_5_days',
 'relative_humidity_mean_5_days',
 'relative_humidity_max_7_days',
 'relative_humidity_min_7_days',
 'relative_humidity_mean_7_days',
 'relative_humidity_max_3_weeks',
 'relative_humidity_min_3_weeks',
 'relative_humidity_mean_3_weeks',
 'relative_humidity_max_5_weeks',
 'relative_humidity_min_5_weeks',
 'relative_humidity_mean_5_weeks',
 'relative_humidity_max_7_weeks',
 'relative_humidity_min_7_weeks',
 'relative_humidity_mean_7_weeks',
 'relative_humidity_max_3_years',
 'relative_humidity_min_3_years',
 'relative_humidity_mean_3_years',
 'relative_humidity_max_4_years',
 'relative_humidity_min_4_years',
 'relative_humidity_mean_4_years',
 'relative_humidity_lag_24',
 'relative_humidity_lag_48',
 'relative_humidity_lag_72',
 'relative_humidity_lag_168',
 'dew_point_max_3_days',
 'dew_point_min_3_days',
 'dew_point_mean_3_days',
 'dew_point_max_5_days',
 'dew_point_min_5_days',
 'dew_point_mean_5_days',
 'dew_point_max_7_days',
 'dew_point_min_7_days',
 'dew_point_mean_7_days',
 'dew_point_max_3_weeks',
 'dew_point_min_3_weeks',
 'dew_point_mean_3_weeks',
 'dew_point_max_5_weeks',
 'dew_point_min_5_weeks',
 'dew_point_mean_5_weeks',
 'dew_point_max_7_weeks',
 'dew_point_min_7_weeks',
 'dew_point_mean_7_weeks',
 'dew_point_max_3_years',
 'dew_point_min_3_years',
 'dew_point_mean_3_years',
 'dew_point_max_4_years',
 'dew_point_min_4_years',
 'dew_point_mean_4_years',
 'dew_point_lag_24',
 'dew_point_lag_48',
 'dew_point_lag_72',
 'dew_point_lag_168',
 'precipitation_max_3_days',
 'precipitation_min_3_days',
 'precipitation_mean_3_days',
 'precipitation_max_5_days',
 'precipitation_min_5_days',
 'precipitation_mean_5_days',
 'precipitation_max_7_days',
 'precipitation_min_7_days',
 'precipitation_mean_7_days',
 'precipitation_max_3_weeks',
 'precipitation_min_3_weeks',
 'precipitation_mean_3_weeks',
 'precipitation_max_5_weeks',
 'precipitation_min_5_weeks',
 'precipitation_mean_5_weeks',
 'precipitation_max_7_weeks',
 'precipitation_min_7_weeks',
 'precipitation_mean_7_weeks',
 'precipitation_max_3_years',
 'precipitation_min_3_years',
 'precipitation_mean_3_years',
 'precipitation_max_4_years',
 'precipitation_min_4_years',
 'precipitation_mean_4_years',
 'precipitation_lag_24',
 'precipitation_lag_48',
 'precipitation_lag_72',
 'precipitation_lag_168',
 'rain_max_3_days',
 'rain_min_3_days',
 'rain_mean_3_days',
 'rain_max_5_days',
 'rain_min_5_days',
 'rain_mean_5_days',
 'rain_max_7_days',
 'rain_min_7_days',
 'rain_mean_7_days',
 'rain_max_3_weeks',
 'rain_min_3_weeks',
 'rain_mean_3_weeks',
 'rain_max_5_weeks',
 'rain_min_5_weeks',
 'rain_mean_5_weeks',
 'rain_max_7_weeks',
 'rain_min_7_weeks',
 'rain_mean_7_weeks',
 'rain_max_3_years',
 'rain_min_3_years',
 'rain_mean_3_years',
 'rain_max_4_years',
 'rain_min_4_years',
 'rain_mean_4_years',
 'rain_lag_24',
 'rain_lag_48',
 'rain_lag_72',
 'rain_lag_168',
 'snowfall_max_3_days',
 'snowfall_min_3_days',
 'snowfall_mean_3_days',
 'snowfall_max_5_days',
 'snowfall_min_5_days',
 'snowfall_mean_5_days',
 'snowfall_max_7_days',
 'snowfall_min_7_days',
 'snowfall_mean_7_days',
 'snowfall_max_3_weeks',
 'snowfall_min_3_weeks',
 'snowfall_mean_3_weeks',
 'snowfall_max_5_weeks',
 'snowfall_min_5_weeks',
 'snowfall_mean_5_weeks',
 'snowfall_max_7_weeks',
 'snowfall_min_7_weeks',
 'snowfall_mean_7_weeks',
 'snowfall_max_3_years',
 'snowfall_min_3_years',
 'snowfall_mean_3_years',
 'snowfall_max_4_years',
 'snowfall_min_4_years',
 'snowfall_mean_4_years',
 'snowfall_lag_24',
 'snowfall_lag_48',
 'snowfall_lag_72',
 'snowfall_lag_168',
 'pressure_msl_max_3_days',
 'pressure_msl_min_3_days',
 'pressure_msl_mean_3_days',
 'pressure_msl_max_5_days',
 'pressure_msl_min_5_days',
 'pressure_msl_mean_5_days',
 'pressure_msl_max_7_days',
 'pressure_msl_min_7_days',
 'pressure_msl_mean_7_days',
 'pressure_msl_max_3_weeks',
 'pressure_msl_min_3_weeks',
 'pressure_msl_mean_3_weeks',
 'pressure_msl_max_5_weeks',
 'pressure_msl_min_5_weeks',
 'pressure_msl_mean_5_weeks',
 'pressure_msl_max_7_weeks',
 'pressure_msl_min_7_weeks',
 'pressure_msl_mean_7_weeks',
 'pressure_msl_max_3_years',
 'pressure_msl_min_3_years',
 'pressure_msl_mean_3_years',
 'pressure_msl_max_4_years',
 'pressure_msl_min_4_years',
 'pressure_msl_mean_4_years',
 'pressure_msl_lag_24',
 'pressure_msl_lag_48',
 'pressure_msl_lag_72',
 'pressure_msl_lag_168',
 'surface_pressure_max_3_days',
 'surface_pressure_min_3_days',
 'surface_pressure_mean_3_days',
 'surface_pressure_max_5_days',
 'surface_pressure_min_5_days',
 'surface_pressure_mean_5_days',
 'surface_pressure_max_7_days',
 'surface_pressure_min_7_days',
 'surface_pressure_mean_7_days',
 'surface_pressure_max_3_weeks',
 'surface_pressure_min_3_weeks',
 'surface_pressure_mean_3_weeks',
 'surface_pressure_max_5_weeks',
 'surface_pressure_min_5_weeks',
 'surface_pressure_mean_5_weeks',
 'surface_pressure_max_7_weeks',
 'surface_pressure_min_7_weeks',
 'surface_pressure_mean_7_weeks',
 'surface_pressure_max_3_years',
 'surface_pressure_min_3_years',
 'surface_pressure_mean_3_years',
 'surface_pressure_max_4_years',
 'surface_pressure_min_4_years',
 'surface_pressure_mean_4_years',
 'surface_pressure_lag_24',
 'surface_pressure_lag_48',
 'surface_pressure_lag_72',
 'surface_pressure_lag_168',
 'cloud_cover_max_3_days',
 'cloud_cover_min_3_days',
 'cloud_cover_mean_3_days',
 'cloud_cover_max_5_days',
 'cloud_cover_min_5_days',
 'cloud_cover_mean_5_days',
 'cloud_cover_max_7_days',
 'cloud_cover_min_7_days',
 'cloud_cover_mean_7_days',
 'cloud_cover_max_3_weeks',
 'cloud_cover_min_3_weeks',
 'cloud_cover_mean_3_weeks',
 'cloud_cover_max_5_weeks',
 'cloud_cover_min_5_weeks',
 'cloud_cover_mean_5_weeks',
 'cloud_cover_max_7_weeks',
 'cloud_cover_min_7_weeks',
 'cloud_cover_mean_7_weeks',
 'cloud_cover_max_3_years',
 'cloud_cover_min_3_years',
 'cloud_cover_mean_3_years',
 'cloud_cover_max_4_years',
 'cloud_cover_min_4_years',
 'cloud_cover_mean_4_years',
 'cloud_cover_lag_24',
 'cloud_cover_lag_48',
 'cloud_cover_lag_72',
 'cloud_cover_lag_168',
 'wind_speed_max_3_days',
 'wind_speed_min_3_days',
 'wind_speed_mean_3_days',
 'wind_speed_max_5_days',
 'wind_speed_min_5_days',
 'wind_speed_mean_5_days',
 'wind_speed_max_7_days',
 'wind_speed_min_7_days',
 'wind_speed_mean_7_days',
 'wind_speed_max_3_weeks',
 'wind_speed_min_3_weeks',
 'wind_speed_mean_3_weeks',
 'wind_speed_max_5_weeks',
 'wind_speed_min_5_weeks',
 'wind_speed_mean_5_weeks',
 'wind_speed_max_7_weeks',
 'wind_speed_min_7_weeks',
 'wind_speed_mean_7_weeks',
 'wind_speed_max_3_years',
 'wind_speed_min_3_years',
 'wind_speed_mean_3_years',
 'wind_speed_max_4_years',
 'wind_speed_min_4_years',
 'wind_speed_mean_4_years',
 'wind_speed_lag_24',
 'wind_speed_lag_48',
 'wind_speed_lag_72',
 'wind_speed_lag_168',
 'wind_direction_max_3_days',
 'wind_direction_min_3_days',
 'wind_direction_mean_3_days',
 'wind_direction_max_5_days',
 'wind_direction_min_5_days',
 'wind_direction_mean_5_days',
 'wind_direction_max_7_days',
 'wind_direction_min_7_days',
 'wind_direction_mean_7_days',
 'wind_direction_max_3_weeks',
 'wind_direction_min_3_weeks',
 'wind_direction_mean_3_weeks',
 'wind_direction_max_5_weeks',
 'wind_direction_min_5_weeks',
 'wind_direction_mean_5_weeks',
 'wind_direction_max_7_weeks',
 'wind_direction_min_7_weeks',
 'wind_direction_mean_7_weeks',
 'wind_direction_max_3_years',
 'wind_direction_min_3_years',
 'wind_direction_mean_3_years',
 'wind_direction_max_4_years',
 'wind_direction_min_4_years',
 'wind_direction_mean_4_years',
 'wind_direction_lag_24',
 'wind_direction_lag_48',
 'wind_direction_lag_72',
 'wind_direction_lag_168',
 'sunshine_duration_max_3_days',
 'sunshine_duration_min_3_days',
 'sunshine_duration_mean_3_days',
 'sunshine_duration_max_5_days',
 'sunshine_duration_min_5_days',
 'sunshine_duration_mean_5_days',
 'sunshine_duration_max_7_days',
 'sunshine_duration_min_7_days',
 'sunshine_duration_mean_7_days',
 'sunshine_duration_max_3_weeks',
 'sunshine_duration_min_3_weeks',
 'sunshine_duration_mean_3_weeks',
 'sunshine_duration_max_5_weeks',
 'sunshine_duration_min_5_weeks',
 'sunshine_duration_mean_5_weeks',
 'sunshine_duration_max_7_weeks',
 'sunshine_duration_min_7_weeks',
 'sunshine_duration_mean_7_weeks',
 'sunshine_duration_max_3_years',
 'sunshine_duration_min_3_years',
 'sunshine_duration_mean_3_years',
 'sunshine_duration_max_4_years',
 'sunshine_duration_min_4_years',
 'sunshine_duration_mean_4_years',
 'sunshine_duration_lag_24',
 'sunshine_duration_lag_48',
 'sunshine_duration_lag_72',
 'sunshine_duration_lag_168']

In [24]:
# _1 = df.loc['2024-01-01':, ['temperature', 'new_mean_temp_3_days', 'new_mean_temp_5_days', 'new_mean_temp_7_days', 'mean_temp']]

# _2 = pd.DataFrame(None, index=_1.index)
# for col in _1.columns[1:]:
#     _2.loc[:, col] = abs(_1.loc[:, col] - _1.loc[:, 'temperature'])
    
# _3 = pd.DataFrame(index=_2.index, columns=_2.columns)
# for row in _2.index:
#     min_col = _2.loc[row, :].idxmin()  # Get the column with the minimum value
#     for col in _3.columns:
#         _3.loc[row, col] = 1 if col == min_col else 0  # Assign 1 if it's the min column, otherwise 0

# _3

In [25]:
# _3.sum()

In [26]:
sun = pd.read_csv("/masters_diploma/raw_data/sunset_sunrise.csv")
sun["time"] = pd.to_datetime(sun["time"], errors="coerce")
sun["sunrise (iso8601)"] = pd.to_datetime(sun["sunrise (iso8601)"], errors="coerce") + timedelta(hours=3) #.dt.time
sun["sunset (iso8601)"]  = pd.to_datetime(sun["sunset (iso8601)"],  errors="coerce") + timedelta(hours=3) #.dt.time
sun.columns = ['date', 'sunrise', 'sunset']

full_hours = pd.DataFrame({'date': pd.date_range(
    df.index.min(), df.index.max() + pd.Timedelta(hours=23), freq='h'
)})
full_hours = full_hours.set_index('date')
full_hours["month"] = full_hours.index.month
full_hours["day"]   = full_hours.index.day
full_hours["hour"]  = full_hours.index.hour

sun = sun.copy()
sun = sun.dropna(subset=["date", "sunrise", "sunset"]).drop_duplicates(["date"])

all_hours = []
all_vals  = []

for date in pd.date_range('2023-01-01', '2023-12-31', freq='D'):
    
    row = sun.loc[sun['date'] == date]
    if row.empty:
        continue

    sr = pd.to_datetime(row['sunrise'].values[0])
    ss = pd.to_datetime(row['sunset'].values[0])

    if pd.isna(sr) or pd.isna(ss) or ss <= sr:
        continue

    edges = pd.date_range(start=sr.floor('h'), end=ss.floor('h'), freq='h')

    val_to_add = []
    if len(edges) == 1:
        val_to_add.append(int((ss - sr).total_seconds()))
    else:
        val_to_add.append(int((edges[1] - sr).total_seconds()))
        if len(edges) > 2:
            val_to_add.extend([3600] * (len(edges) - 2))
        val_to_add.append(int((ss - edges[-1]).total_seconds()))

    all_hours.extend(list(edges))
    all_vals.extend(val_to_add)

daylight_by_hour = pd.DataFrame(
    {"date": all_hours, "daylight_seconds": all_vals}
).set_index("date").sort_index()


daylight_by_hour['month'] = daylight_by_hour.index.month
daylight_by_hour['day'] = daylight_by_hour.index.day
daylight_by_hour['hour'] = daylight_by_hour.index.hour

# (опційно) додай темряву
# daylight_by_hour["dark_seconds"] = (3600 - daylight_by_hour["daylight_seconds"]).clip(lower=0).astype(int)

key_map = (
    daylight_by_hour
      .reset_index(drop=True)[["month","day","hour","daylight_seconds"]]
      .drop_duplicates(["month","day","hour"])  # по одному рядку на комбінацію
)

full_set = full_hours.merge(
    key_map, on=["month","day","hour"], how="left"
)

full_set.index = full_hours.index

full_set["daylight_seconds"] = full_set["daylight_seconds"].fillna(0).astype(int)
full_set["dark_seconds"] = (3600 - full_set["daylight_seconds"]).clip(lower=0).astype(int)

full_set = full_set[['daylight_seconds', 'dark_seconds']]

In [27]:
df["daylight_seconds"] = full_set["daylight_seconds"]
df["dark_seconds"] = full_set["dark_seconds"]

In [28]:
df.to_csv('/masters_diploma/processed_data/history_weather_with_daylight.csv')